<nav class = "navbar navbar-default">
  <div class = "container">
    <div class = "navbar-header">
      <%= link_to "Cars",root_path, class: "navbar-brand"%>       
    </div>   
<ul class = "nav navbar-nav">
  <li> <%= link_to "Sign up", new_user_registration_path %></li>
  <% if user_signed_in? %>
    <li> <%= link_to "Sign out",destroy_user_session_path, method: :delete %></li>
  <%else%>
    <li> <%= link_to "Log In", new_user_session_path %></li>
  <%end%>

 <ul class="nav navbar-nav navbar-right">

    <% Category.all.each do |category| %>
        <li class ="<%= 'active' if params[:category] == category.name %>"> 
          <%= link_to category.name, cars_path(category: category.name), class: "link" %>
        </li>
    <% end %>
  </ul>
  <% if current_user.try(:admin?) %>
    <li> <%= link_to "Cash", root_path %> </li>
    <li> <%= link_to "Add fine", root_path %> </li>
    <li> <%= link_to "Clients base", root_path %> </li>
    <li> <%= link_to "Cars base", root_path %></li>
  <%else%>
    <li><%= link_to "Booking car", root_path %></li>
    <li><%- link_to "Fines, you have.", root_path %></li>
    <%end%>
</ul>
<ul class = "nav navbar-nav navbar-right">
  <% if current_user.try(:admin?) %>
   <li><%= link_to "Add Car", new_car_path  %></li>
  <%end%>
 
</ul>
  </div>
</nav>