<%= simple_form_for @car, :html => {:multipart => true}   do |f|  %>
<%= select_tag(:categoty_id, options_for_select(@categories), :prompt => "Select category")   %>
<%= f.input :model, label: "Cars`name"   %>
<%= f.input :brand   %>
<%= f.input :number   %>
<%= f.input :year  %>
<%= f.input :mileage  %>
<%= f.button :submit %>

<% end %>