<h1>EDIT CAR</h1>

<%= simple_form_for @car, :html => {:multipart => true} do |f|  %>
	<%= f.select :category_id, @categories  %>
	<%= f.input :model, label: "Cars`name"   %>
	<%= f.input :brand   %>
	<%= f.input :number   %>
	<%= f.input :year  %>
	<%= f.input :mileage  %>
	<%= f.button :submit %>
<% end %>