<h1 class="current-category"><%= params[:category]%> </h1>

<% if @cars.count == 0 %>
	<h1>В данной категории нет автомобилей</h1>
<% else %> 
	<% @cars.each do |car| %>
		<h2> <%=  link_to car.model, car_path(car)  %> </h2>
	<%end%>
<%end%>
