<h1> <%=  	@car.model	%></h1>
<h2> <%=  	@car.brand	%></h2>
<h2> <%=  	@car.year	%></h2>
<h2> <%=  	@car.mileage %></h2>
<h4>Category: <%= @car.category.name %></h4>
<%= link_to "back", root_path %>

<% if user_signed_in? %>
	<% if current_user.id == 5  %>
		<%= link_to "Edit", edit_car_path(@car) %>
		<%= link_to "Delete", car_path(@car), method: :delete, data: {confirm: "Are you sure?"} %>
	<% end %>
<% end %>